<%= form_for(@snippet) do |f| %>
<% if @snippet.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

	<ul>
		<% @snippet.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
  <% end %>


<div class="field">
	<%= f.label :title %>
	<br />
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :description %>
	<br />
	<%= f.text_field :description %>
</div>
<div class="field" id="code">
	<%= f.label :code %>
	<br />
	<%= f.text_area :code%>
	<br />
</div>
<button type="button" onClick="clicked()">
	Pick
</button>

<div id="result"></div>
<input type="button" value="Get selection" onmousedown="getSelText()">
	<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field" id="tags">
    <label for="tags">Tags</label>
    <input id="tags" name="tags" size="30" type="text">
  </div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
