<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
	<b>Description:</b>
  <%= @snippet.description %>
</p>

<p>
  <b>Code:</b>
  <%= @snippet.code %>
</p>

<p>
  <b>Points:</b>
  <%= @snippet.points %>
</p>

<p><%= better_button_to "Up", upvote_path(@snippet), {:method => :post, :class => "up-form"}, {:class => "up-arrow"} %> |
<%= better_button_to "Down", downvote_path(@snippet), {:method => :post, :class => "down-form"}, {:class => "down-arrow"} %></p>


<%= link_to 'Back', snippets_path %>
