<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
	<b>Description:</b>
  <%= @snippet.description %>
</p>

<p>
  <b>Code:</b>
  <%= @snippet.code %>
</p>

<p>
  <b>Points:</b>
  <%= @snippet.points %>
</p>

<p><%= button_to "Up", upvote_path(@snippet), :method => :post %> |
<%= button_to "Down", downvote_path(@snippet), :method => :post %></p>


<%= link_to 'Back', snippets_path %>
