<div id="topbar">

	<ul>
		<li id="top">
		Top snippets:
		</li>
		<li>
			<%= link_to "Today", "#{top_path}?t=day" %>
		</li>
		<li>
			<%= link_to "Month", "#{top_path}?t=month" %>
		</li>
		<li>
			<%= link_to "Year", "#{top_path}?t=year" %>
		</li>
		<li>
			<%= link_to "All time", "#{top_path}?t=all" %>
		</li>
	</ul>
</div>
<%= render :partial => "snippets/snippet_list" %>


<%= paginate @snippets %>
