<!DOCTYPE html>
<html>
<head>
  <title>Snippets</title>
    <!-- Adds the Filepicker.io javascript library to the page -->
    <script src="https://api.filepicker.io/v0/filepicker.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Log in with Facebook", "/auth/facebook" %>
<% end %>

<%= yield %>

</body>
</html>
